---
layout: layouts/vehicle.njk
title: "BMW E34 5 Series: Common Problems, Repair Costs & Specs"
vehicle: e34
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "BMW", url: "/resources/bmw/" }
  - { label: "E34" }
---
