---
layout: layouts/vehicle.njk
title: "BMW E36 3 Series: Common Problems, Repair Costs & Specs"
vehicle: e36
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "BMW", url: "/resources/bmw/" }
  - { label: "E36" }
---
