---
layout: layouts/vehicle.njk
title: "BMW E39 5 Series: Common Problems, Repair Costs & Specs"
vehicle: e39
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "BMW", url: "/resources/bmw/" }
  - { label: "E39" }
---
