---
layout: layouts/vehicle.njk
title: "BMW E46 3 Series: Common Problems, Repair Costs & Specs"
vehicle: e46
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "BMW", url: "/resources/bmw/" }
  - { label: "E46" }
---
