---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# ZRG Classics - robots.txt
# https://www.zrgclassics.com

User-agent: *
Allow: /

# Sitemap location
Sitemap: {{ site.url }}/sitemap.xml

