---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# ZRG Classics - robots.txt
# https://zrgclassics.com

User-agent: *
Allow: /

# Sitemap location
Sitemap: {{ site.url }}/sitemap.xml

# Crawl-delay (optional, respected by some crawlers)
Crawl-delay: 1
