---
layout: layouts/base.njk
title: Shop
---
<main>
    <!-- Classic Cars Section -->
    <section class="shop-section">
        <h2>German Classics For Sale</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/CarSale1.jpg" alt="Classic Car 1">
                <h3>1992 Porsche 911 Turbo</h3>
                <p>$140,000</p>
                <button>View Listing</button>
            </div>
            <div class="product">
                <img src="/images/CarSale2.jpg" alt="Classic Car 2">
                <h3>1988 Porsche 911 Reimagied By Singer</h3>
                <p>$550,000</p>
                <button>View Listing</button>
            </div>
        </div>
    </section>

    <!-- Car Parts Section -->
    <section class="shop-section">
        <h2>Used Car Parts</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/part1.jpg" alt="Car Part 1">
                <h3>Vintage Steering Wheel</h3>
                <p>$250</p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="/images/part2.jpg" alt="Car Part 2">
                <h3>Classic Car Headlights</h3>
                <p>$150</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </section>
</main>
