---
layout: layouts/vehicle.njk
title: Porsche 987 Boxster/Cayman Resources
vehicle: 987
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "Porsche", url: "/resources/porsche/" }
  - { label: "987" }
---
