---
layout: layouts/vehicle.njk
title: "Porsche 991 911: Common Problems, Repair Costs & Specs"
vehicle: 991
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "Porsche", url: "/resources/porsche/" }
  - { label: "991" }
---
