---
layout: layouts/vehicle.njk
title: "Porsche 993 911: Common Problems, Repair Costs & Specs"
vehicle: 993
breadcrumbs:
  - { label: "Home", url: "/" }
  - { label: "Porsche", url: "/resources/porsche/" }
  - { label: "993" }
---
